
body {
	background-color: rgb(30,34,39);
	/*color: rgb(32,103,178);*/
	color: rgb(230,230,230);
	font-family: "robotothin";
	
	
	
}

#clock {
	
	font-family: "robotothin";
	font-size: 75px !important;
	font-weight: 100 !important;
}

#chooseordie {
	background-color: #E8D7A2;
	color: black;
	display: none;
	border-radius: 5px;
	text-align: center;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding-left: 2px;
	padding-right: 2px;
	float: left;
	left: 40%;
	font-family: "Cantarell Bold";
	cursor: default;
	
	position: fixed;
	top: 0;
	
}

#toomanyscripts {
	background-color: #E8D7A2;
	color: black;
	display: none;
	border-radius: 5px;
	text-align: center;
	overflow: visible;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding-left: 2px;
	padding-right: 2px;
	float: left;
	font-family: "robotoregular";
	cursor: default;
	
	position: relative;
	top: -8px;
	left: 15%;
}



#footer {
	position:fixed;
	width: 95%;
	bottom: 0;
	text-align: left;
	background-color: inherit;
	
	padding-bottom: 0px;
	font-size: 20px;
	text-align: center;
	
	/*height: 40px;*/
	
	
}

.bolder {
	font-family: 'robotoregular';
	font-weight: 900;
	font-size: 25px;	
}
.smaller {
	font-size: inherit;
	font-family: 'robotoregular';
}

.fade-out {
	-webkit-transition: all 3s ease;
   -moz-transition: all 3s ease;
   -ms-transition: all 3s ease;
   -o-transition: all 3s ease;
   transition: all 3s ease;
	opacity: 0;
}



.list {
	font-family: 'robotothin', "Segoe UI";
	/*background-color: black;*/
	/*background-color: rgb(32,103,178);*/
	/*background-color: white;
	color: rgb(32,103,178);*/
	background-color: rgb(30,34,39);
	color: inherit;
	padding-bottom: 0px;
	
	font-size: inherit;
	border: 0;
	padding-left: 5px;
	overflow: hidden;
	
	
}

#not-stop {
	overflow: visible;
	
}

.list2 {
	font-family: "robotothin", "Segoe UI";
	/*background-color: black;*/
	/*background-color: rgb(32,103,178);*/
	background-color: #00008C;
	color: #FFFF00;
	padding-bottom: 0px;
	
	font-size: inherit;
	border: 0;
	padding-left: 5px;
	overflow: hidden;
}
#header {
	position: fixed;
	top: 0;
	width: 95%;
	padding-right: 0;
	overflow: hidden;
	background-color: inherit;
	padding-bottom: 0px;
	
	
}


#content-left {
	

	margin-top: 130px;
	margin-bottom: 80px;
	padding-bottom: 30px;
	float:left;
	text-align: inherit;
	overflow: hidden;
	width: 62%;

}

#time-left {
	text-align: inherit;
	vertical-align: inherit;
	font-weight: 900;
}

#sidebar {
	/*padding-left: 55%;*/
	left: 2px;
	text-align: center;
	
	
	padding-left: 2px;
	padding-top: 130px;
	overflow: visible;
	width: 70px;
	float: left;
	text-align: left;
	display: none;
	position: fixed;
	height: 100%;
	
	
}
.big {
	font-size: 35px;
	/*font-weight: bold;*/
	text-align: inherit;
}